.home{
	&__slider{
		color: #FFF;
	}
	&__products{
		&-line{
			&-item{
				
				display: block;
				padding-top: 21px;
				// padding: 10px 0 ;
				// width:100px;
				// height: auto;
				// &:first-child{
				// 	padding-left: 0!important;
				// }
				&-img{
					position: relative;
					padding-top:140%;
					// background-color:red;
					// padding: 0 20px;
					& .a{
						position: absolute;
						top:0;
						left: 0;
						right: 0;
						bottom: 0;
					}
				}
				

				&-name{
					font-size: 20px;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: normal;
					letter-spacing: normal;
					text-align: left;
					color: #fff;
				}
				&-price {
					font-size: 24px;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: normal;
					letter-spacing: normal;
					text-align: left;
					color: #ffbd2c;
				}

			}
		}
		&-button{
			& a{
				text-decoration: none;
				width: 438px;
				height: 64px;
				flex-grow: 0;
				margin: 68px 0 115px 0;
  				border-radius: 8px;
  				border: solid 2px #000;
  				background-color: #ffbd2c;
  				font-size: 26px;
  				font-weight: bold;
  				color: #000;
  				img{
  					padding-left:10px;
  					transition: 0.3s;
  				}
  				&:hover{
  					img{
  						transform: translateX(10px);
  						transition: 0.3s;
  					}
  				}
  			}
  		}
  	}	
}


